body{
    position: relative;
    background-color: rgb(52, 219, 219);
    
}
body>:nth-child(1){
    width: 10px;
    height: 400px;
    background-color: rgba(116, 8, 29, 0.822);
    position: absolute;
    left: 45vw;
    top: 20vh;
} 
body>:nth-child(1)::before{
    content: "";
    position: absolute;
    top: 30px;
    right: 15px;
    width: 0;
	height:0;
    border-right: 150px solid rgb(224, 48, 48);
    border-top: 320px solid transparent;
    border-bottom: 20px solid transparent;    
}

body>:nth-child(1)::after{
    content: "";
    position: absolute;
    top: 400px;
    right: -280px;
    border-top: 120px solid rgb(255, 81, 0);
	border-left: 50px solid transparent;
	border-right: 80px solid transparent;
	height: 0;
	width: 400px;
}
body>:nth-child(2){
    position: absolute;
    left: 45vw;
    top: 20vh;
}

body>:nth-child(2)::before{
    content: "";
    position: absolute;
    top: 30px;
    right: -265px;
    width: 0;
	height:0;
    border-left: 250px solid rgb(202, 33, 33);
    border-top: 320px solid transparent;
    border-bottom: 20px solid transparent;
    
}
body>:nth-child(2)::after{
    content: "";
    position: absolute;
    top: 5px;
    right: -165px;
    width: 0;
	height:0;
    border-left: 150px solid rgb(240, 6, 6);
    border-top: 10px solid transparent;
    border-bottom: 20px solid transparent;
    
}

